<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Ticket Booking</title>
</head>
<body>
<h1>Welcome to Movie Ticket Booking</h1>

<div class="movie-list">
  <div class="movie">
    <h3>Movie 1</h3>
    <button onclick="viewMovieDetails(2)">View Details</button>
    <button onclick="bookTicket(2)">Book Ticket</button>
  </div>
  <div class="movie">
    <h3>Movie 2</h3>
    <button onclick="viewMovieDetails(2)">View Details</button>
    <button onclick="bookTicket(2)">Book Ticket</button>
  </div>
</div>
<script>
    function viewMovieDetails() {
      window.open("home.html");
    }

    function bookTicket(movieId) {
      window.open("index.html");
    }
  </script>



</body>
</html>